*{
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
:root{
    --pink: #FADADD;
    --white: #ffff;
    --black: #000000;
    --transition: all 400ms ease;
    --box-shadow: 10px 13px 13px rgba(0, 0, 0, 0.3);
}
.nav{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--pink);
    padding: 32px 40px 33px 40px;
    height: 10px;
    position: fixed;
    z-index: 1;
}
h1{
    font-size: 32px;
    color: var(--black);
    border: 3px var(--black) solid;
    padding: 5px 10px;
    border-radius: 20px;
}
.menuitems ul{
    display: flex;
}
.icon{
    color: var(--black);
    margin-left: 50px;
}
.active{
    color: var(--black);
    border-bottom: solid var(--black) 3px;
}
.searchbar{
    height: 30px;
    margin-left: 200px;
}
.searchbar input{
    border-radius: 30px;
    width: 310px;
    padding: 10px 21px 11px;
    border: none;
    color: var(--black);
}
.searchbar input:active{
    border: none;
}
.hero-section .image {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.hero-section .image img{
    width: 100%;
}
.tagline {
    position: absolute;
    top: 195px;
    margin-left: 40px;
}
.tagline h2{
    font-size: 64px;
    width: 438px;
    
}
.tagline button{
    margin-top: 100px;
    border: none;
    width: 200px;
    padding: 20px 10px;
    background: var(--white);
    color: var(--black);
    font-size: 30px;
    border-radius: 20px 0;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    transition: var(--transition);
}
.category-section{
    padding: 0 50px;
}
.sec-title{
    margin-top: 100px;
    text-align: center;
    font-size: 30px;
    margin-bottom: 80px;
}
.sec-set {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.ctg{
    margin-top: 30px;
    width: 350px;
    height: 350px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    box-shadow: 10px 13px 13px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.ctg:hover img {
    height: 105%;
    width: 105%;
}
.ctg .img-text{
    position: absolute;
    background: var(--pink);
    bottom: 0;
    transform-origin: bottom;
    transform: translateY(100%);
    width: 100%;
    height: 25%;
    font-size: 40px;
    display: flex;
    justify-content: center;
    place-items: center;
    transition: var(--transition);
}
.ctg:hover .img-text{
    transform: translateY(0);
}

.ctg img{
    height: 100%;
    width: 100%;
    transition: var(--transition);
}
.img-text p{
    top: 50%;
    color: var(--black);
}
.see-more{
    text-align: center;
    margin-top: 10px;
}
.see-more a{
    color: var(--black);
}
.see-more a:hover{
    text-decoration: underline;
}
.testimonial-section{
    padding: 0 50px;
}
.sec-set2{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}
.aboutus-section{
    height: 100vh;
    margin-top: 100px;
    position: relative;
    text-align: center;
    overflow: hidden;
    padding: 0 50px;
}
.bg{
    width: 100%;
    height: 100%;
    overflow: hidden;
    right: 10px;
    display: flex;
    gap: 50px;
}
.bg img{
    width: 800px;
    border-radius: 20px;
}
.bg p{
    font-size: 30px;
    text-align: left;
}
.testimony{
    width: 427px;
    height: 368px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    text-align: center;
}
.testimony .image{
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    left: 90px;
}
.testimony .image img{
    width: 264px;
    height: 399px;
    position: absolute;
    left: 0px;
}
